@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');
 
.navbar-inverse {
  height: 80px;
  margin-bottom: 0 !important;
}

.content {
    max-width: 500px;
    margin: auto;
  }
  
  .text1 {
    color: rgb(32, 5, 133);
    font-size: 900px;
    font-family: 'Sorts Mill Goudy', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.footer {
  margin-top: 1100px;
  height: 120px;
  position: relative;
  background-color: #11110a;
  background-size: cover;
  background-position: center;
  display: flex;
  border-radius: 3px;
}

a:link {
  color: rgb(175, 174, 174);
}

a:visited {
  color:  rgb(98, 116, 165);
}

a:hover {
  color:  rgb(255, 255, 255);
}

.footer-pic {
margin-right: 400px;
margin: 5px;
}

.vr {
  border-left: 1px solid rgb(255, 255, 255) !important;
  height: 80px;
  margin: 20px;
  }
   
.social {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}