body{
    margin: 0 auto;
    padding: 0 auto;
    background-color: rgb(226, 220, 214);
}  


.container{
   display: flex;
   flex-direction: column-reverse;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 0px 0px 0px 0px;
   align-content: space-around;
  }

.container-fluid {
  margin: 0px;
  padding: 0px;
  }

#firstclassproject {
   width: 30%;
   position:absolute;
   float: left;
  }

 .text_box{
       width: 100vw;
       border: 10px;
       color: grey;
       padding: 25px;
       /* margin-left: 600px; */
       position: absolute;
       margin: 60% 0px 100px 400px;
       }   