 
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Satisfy');
/* HEADER Section */

 
 /* .container{
    padding-left: 125px;
    margin: auto;
    background-color: beige;
    border: #996;
  }  */

 /* .body{
    margin: 0 auto;
    position: relative;

  } */

  /* html, body {
    height: 100%;
    width: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .main {
    flex: 1 0 auto;
    width: 100%;
  }
  .footer {
    flex-shrink: 0;
    width: 100%;
  } */
  
 .container {    
    position: absolute;
    margin: 0 auto;
    /* display: flex;
    justify-content: center;
    align-content: center; */
    font-style: oblique;
    font-size: 150%;
  } 
  
  /* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    line-height: 500%;
  }
  
  li {
    float: left;
   }
  
  li a {
    color: rgba(70, 91, 131, 0.69);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
  }
  
  li a:hover {
    background-color: #cccdce;
  } */
    
  .image {
    border-radius: 5px;
    border-width: 5px; 
    border-style: solid;
    color: rgb(87, 87, 82);
  

  }
  
  #owl {
    height: 100px;
    width: 100px;
    padding: 10 0 0 10;
    /* border: 1px da0shed #996; */
    /* background-color: grey; */
    position: relative;
    float: left;
    margin: 0px 10px 0px 10px;
    z-index: 1;
  }
  
  #store {
    height: 375px;
    width: 580px;
    /* border: 1px dashed #996; */
    /* background-color: #ff0; */
    margin: 75px 0px 0px 75px;
    float: left;
    position: absolute;
   }

  #realtor {
    height: 320px;
    width: 320px;
    border: 1px dashed #996;
    /* background-color: rgb(32, 28, 230); */
    margin: 40px 0px 0px 670px;
    float: left;
    position: absolute;
    }
  
  #gwcpage{
    position: absolute;
    margin: 54px 0px 0px 1000px;
    float: right;
    width: 600px;
    /* height: 250px;
    border: 1px dashed #090; */
    /* background-color: #0f0; */
  
  }
  
    #alaska {
    position: absolute;
    margin: 310px 10px 0px 600px;
    /* float: left; */
    width: 450px;
    height: 250px;
    /* border: 1px dashed #090; */
    /* background-color: orange; */
   
  }
  
  #conservancy {
    position: absolute;
    width: 600px;
    height: 650px;
    margin: 550px 0px 0px 1100px;
    /* border: 1px dashed #990; */
    /* background-color: #fdd; */
  }

  #apothecary{
    position: absolute;
    margin: 54px 200px 0px 0px;
    width:500px;
    height:280px;
    top: 380px;
    right:28px;
    /* background-color: lightblue; */
  
  }

  #firstwork{
    position: absolute;
    margin: 374px 100px 0px 0px;
    widows: 600px;
    height:300px;
    top: 380px;
    right:28px;
   }

    
.footer {
    
  margin-top: 1100px;
  height: 120px;
  position: relative;
  background-color: #11110a;
  background-size: cover;
  background-position: center;
  display: flex;
  border-radius: 3px;
}

/* a { color: rgb(175, 174, 174); }
a:active { color: rgb(148, 148, 179); } */

/* .footer h2 {
  font-size: 15px;
  font-weight: normal;
  color: black; 
} */
/* unvisited link */
a:link {
  color: rgb(175, 174, 174);
}

/* visited link */
a:visited {
  color:  rgb(98, 116, 165);
}

/* mouse over link */
a:hover {
  color:  rgb(255, 255, 255);
}

.footer-pic {
/* margin-right: 100px; */
margin-right: 400px;
margin: 5px;
}

.vr {
  border-left: 1px solid rgb(255, 255, 255) !important;
  height: 80px;
  margin: 20px;
  }
   
.social {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}



    
  